[Unit]
Description=Run PZ Gitee FF autodeploy poll every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=10s
Persistent=false
Unit=pz-autodeploy-poll.service

[Install]
WantedBy=timers.target
