<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.OrderMapper">

    <resultMap id="OrderResultMap" type="org.example.model.Order">
        <id column="order_id" property="orderId"/>
        <result column="order_no" property="orderNo"/>
        <result column="user_id" property="userId"/>
        <result column="attendant_id" property="attendantId"/>
        <result column="attendant_name" property="attendantName"/>
        <result column="patient_name" property="patientName"/>
        <result column="patient_age" property="patientAge"/>
        <result column="patient_sex" property="patientSex"/>
        <result column="contact_person" property="contactPerson"/>
        <result column="contact_phone" property="contactPhone"/>
        <result column="hospital" property="hospital"/>
        <result column="service_content" property="serviceContent"/>
        <result column="clinic_type" property="clinicType"/>
        <result column="service_date" property="serviceDate"/>
        <result column="service_time_slot" property="serviceTimeSlot"/>
        <result column="special_requirements" property="specialRequirements"/>
        <result column="custom_requirement" property="customRequirement"/>
        <result column="order_amount" property="orderAmount"/>
        <result column="payment_status" property="paymentStatus"/>
        <result column="payment_time" property="paymentTime"/>
        <result column="order_status" property="orderStatus"/>
        <result column="cancel_reason" property="cancelReason"/>
        <result column="cancel_time" property="cancelTime"/>
        <result column="cancel_by" property="cancelBy"/>
        <result column="penalty_rate" property="penaltyRate"/>
        <result column="penalty_amount" property="penaltyAmount"/>
        <result column="refund_amount" property="refundAmount"/>
        <result column="create_time" property="createTime"/>
        <result column="qr_code_url" property="qrCodeUrl"/>
        <result column="service_start_time" property="serviceStartTime"/>
        <result column="service_end_time" property="serviceEndTime"/>
        <result column="service_progress_step" property="serviceProgressStep"/>
        <result column="estimated_duration" property="estimatedDuration"/>
        <result column="actual_duration" property="actualDuration"/>
        <result column="balance_amount" property="balanceAmount"/>
        <result column="time_dispute_user_duration" property="timeDisputeUserDuration"/>
        <result column="time_dispute_reason" property="timeDisputeReason"/>
    </resultMap>

    <insert id="insert" parameterType="org.example.model.Order" useGeneratedKeys="true" keyProperty="orderId">
        INSERT INTO `order` (
            order_no, user_id, attendant_id, attendant_name,
            patient_name, patient_age, patient_sex, contact_person, contact_phone,
            hospital, service_content, clinic_type, service_date, service_time_slot,
            special_requirements, custom_requirement,
            order_amount, payment_status, payment_time, order_status, create_time
        ) VALUES (
            #{orderNo}, #{userId}, #{attendantId}, #{attendantName},
            #{patientName}, #{patientAge}, #{patientSex}, #{contactPerson}, #{contactPhone},
            #{hospital}, #{serviceContent}, #{clinicType}, #{serviceDate}, #{serviceTimeSlot},
            #{specialRequirements}, #{customRequirement},
            #{orderAmount}, #{paymentStatus}, #{paymentTime}, #{orderStatus}, #{createTime}
        )
    </insert>

    <select id="selectByPrimaryKey" parameterType="int" resultMap="OrderResultMap">
        SELECT * FROM `order` WHERE order_id = #{id}
    </select>

    <select id="selectByOrderNo" parameterType="string" resultMap="OrderResultMap">
        SELECT * FROM `order` WHERE order_no = #{orderNo}
    </select>

    <!-- 系统自动取消：超过支付时限仍未支付（仅待支付状态） -->
    <select id="findExpiredUnpaidOrders" resultMap="OrderResultMap">
        SELECT *
        FROM `order`
        WHERE payment_status = 0
          AND order_status = 0
          AND create_time &lt;= #{deadline}
        ORDER BY create_time ASC
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="org.example.model.Order">
        UPDATE `order`
        <set>
            <if test="orderNo != null">order_no = #{orderNo},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="attendantId != null">attendant_id = #{attendantId},</if>
            <if test="attendantName != null">attendant_name = #{attendantName},</if>
            <if test="patientName != null">patient_name = #{patientName},</if>
            <if test="patientAge != null">patient_age = #{patientAge},</if>
            <if test="patientSex != null">patient_sex = #{patientSex},</if>
            <if test="contactPerson != null">contact_person = #{contactPerson},</if>
            <if test="contactPhone != null">contact_phone = #{contactPhone},</if>
            <if test="hospital != null">hospital = #{hospital},</if>
            <if test="serviceContent != null">service_content = #{serviceContent},</if>
            <if test="clinicType != null">clinic_type = #{clinicType},</if>
            <if test="serviceDate != null">service_date = #{serviceDate},</if>
            <if test="serviceTimeSlot != null">service_time_slot = #{serviceTimeSlot},</if>
            <if test="specialRequirements != null">special_requirements = #{specialRequirements},</if>
            <if test="customRequirement != null">custom_requirement = #{customRequirement},</if>
            <if test="orderAmount != null">order_amount = #{orderAmount},</if>
            <if test="paymentStatus != null">payment_status = #{paymentStatus},</if>
            <if test="paymentTime != null">payment_time = #{paymentTime},</if>
            <if test="orderStatus != null">order_status = #{orderStatus},</if>
            <if test="cancelReason != null">cancel_reason = #{cancelReason},</if>
            <if test="cancelTime != null">cancel_time = #{cancelTime},</if>
            <if test="cancelBy != null">cancel_by = #{cancelBy},</if>
            <if test="penaltyRate != null">penalty_rate = #{penaltyRate},</if>
            <if test="penaltyAmount != null">penalty_amount = #{penaltyAmount},</if>
            <if test="refundAmount != null">refund_amount = #{refundAmount},</if>
            <if test="qrCodeUrl != null">qr_code_url = #{qrCodeUrl},</if>
            <if test="serviceStartTime != null">service_start_time = #{serviceStartTime},</if>
            <if test="serviceEndTime != null">service_end_time = #{serviceEndTime},</if>
            <if test="serviceProgressStep != null">service_progress_step = #{serviceProgressStep},</if>
            <if test="estimatedDuration != null">estimated_duration = #{estimatedDuration},</if>
            <if test="actualDuration != null">actual_duration = #{actualDuration},</if>
            <if test="balanceAmount != null">balance_amount = #{balanceAmount},</if>
            <if test="timeDisputeUserDuration != null">time_dispute_user_duration = #{timeDisputeUserDuration},</if>
            <if test="timeDisputeReason != null">time_dispute_reason = #{timeDisputeReason},</if>
        </set>
        WHERE order_id = #{orderId}
    </update>

    <!-- 预计时长条件：根据 service_time_slot（如 08:00-10:30）计算小时数 -->
    <sql id="durationCondition">
        <if test="query != null and query.expectedDurationMinHours != null">
            AND (TIMESTAMPDIFF(MINUTE,
                STR_TO_DATE(CONCAT('2000-01-01 ', TRIM(SUBSTRING_INDEX(service_time_slot, '-', 1))), '%Y-%m-%d %H:%i'),
                STR_TO_DATE(CONCAT('2000-01-01 ', TRIM(SUBSTRING_INDEX(service_time_slot, '-', -1))), '%Y-%m-%d %H:%i')
            ) / 60.0) &gt;= #{query.expectedDurationMinHours}
        </if>
    </sql>

    <select id="countUserOrders" resultType="int">
        SELECT COUNT(*) FROM `order`
        <where>
            <if test="userId != null">AND user_id = #{userId}</if>
            <if test="query != null and query.orderStatus != null">AND order_status = #{query.orderStatus}</if>
            <if test="query != null and query.serviceType != null">AND clinic_type = #{query.serviceType}</if>
            <if test="query != null and query.orderAmountMax != null">AND order_amount &lt;= #{query.orderAmountMax}</if>
            <include refid="durationCondition"/>
        </where>
    </select>

    <select id="findUserOrdersWithPagination" resultMap="OrderResultMap">
        SELECT * FROM `order`
        <where>
            <if test="userId != null">AND user_id = #{userId}</if>
            <if test="query != null and query.orderStatus != null">AND order_status = #{query.orderStatus}</if>
            <if test="query != null and query.serviceType != null">AND clinic_type = #{query.serviceType}</if>
            <if test="query != null and query.orderAmountMax != null">AND order_amount &lt;= #{query.orderAmountMax}</if>
            <include refid="durationCondition"/>
        </where>
        ORDER BY create_time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="countAllOrders" resultType="int">
        SELECT COUNT(*) FROM `order`
        <where>
            <if test="query != null and query.orderStatus != null">AND order_status = #{query.orderStatus}</if>
            <if test="query != null and query.serviceType != null">AND clinic_type = #{query.serviceType}</if>
            <if test="query != null and query.orderAmountMax != null">AND order_amount &lt;= #{query.orderAmountMax}</if>
            <include refid="durationCondition"/>
        </where>
    </select>

    <select id="findAllOrdersWithPagination" resultMap="OrderResultMap">
        SELECT * FROM `order`
        <where>
            <if test="query != null and query.orderStatus != null">AND order_status = #{query.orderStatus}</if>
            <if test="query != null and query.serviceType != null">AND clinic_type = #{query.serviceType}</if>
            <if test="query != null and query.orderAmountMax != null">AND order_amount &lt;= #{query.orderAmountMax}</if>
            <include refid="durationCondition"/>
        </where>
        ORDER BY create_time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="findOrdersByStatus" parameterType="int" resultMap="OrderResultMap">
        SELECT * FROM `order` WHERE order_status = #{status} ORDER BY create_time DESC
    </select>

    <update id="releaseOrderBackToHall">
        UPDATE `order` SET
            order_status = 1,
            attendant_id = NULL,
            attendant_name = NULL,
            qr_code_url = NULL,
            cancel_reason = #{reason},
            cancel_time = #{cancelTime},
            cancel_by = 1,
            penalty_rate = NULL,
            penalty_amount = NULL,
            refund_amount = NULL
        WHERE order_id = #{orderId}
    </update>

</mapper>